*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(0, 140, 255);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;/*col me aane*/
}

.row{
    width: 1000px;
    margin: 10px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;/*vertically*/
    justify-content: center;/*horizontally*/
    font-size: 42px;
    color: white;
}
#search{
    font-size: 25px;
    padding: 10px;
    height: 65px;
    width: 650px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 5px grey ;
}